/* _foot.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

.pagemarkers

  .right-middle-mark,
  .right-bottom-mark,
  .left-bottom-mark
    position: fixed
    z-index: 800

  .right-middle-mark,
  .right-bottom-mark
    right: 50px

  .left-bottom-mark
    left: 50px

  .right-bottom-mark,
  .left-bottom-mark
    bottom: 50px

  .right-middle-mark
    bottom: calc(50vh - 82px)
    transform-origin: right top 0
    transform: rotate(90deg)
    width: 165px

  .left-bottom-mark
    transform-origin: left top 0
    transform: rotate(-90deg)


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4 */


.pagemarkers
  @extend %Hell

