/* _head.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

header
  position: relative
  width: 100%

  .left-nav,
  .drop-down,
  .right-link,
  .logo
    position: fixed
    z-index: 800
    transition: left 0.4s 1s ease, right 0.4s 1s ease, top 0.4s 1s ease, bottom 0.4s 1s ease


  .left-nav,
  .drop-down 
    left: 50px

    +tiny
      left: 25px

  .left-nav,
  .right-link,
  .logo
    top: 50px

    +tiny
      top: 25px

  .drop-down
    top: 100px

    +tiny 
      display: none

  .right-link
    right: 50px
    padding-bottom: 5px
    z-index: 750

    +tiny
      right: 25px

  .logo
    left: calc(50% - 56px)
    width: 112px
    height: 117px

    +tiny
      top: 5px
      left: calc(50% - 45px)
      width: 90px
      height: 96px
      z-index: 800

  .drop-down
    +tiny
      padding-top: 100px
      left: 0
      width: 100%

    a
      position: relative
      opacity: 0
      display: block
      margin-bottom: 20px
      z-index: -10

      +tiny
        display: none
        width: 100%
        margin-bottom: 50px

      span
        padding-bottom: 5px

#toggle
  padding-bottom: 5px

#transparency  
  +tiny
    opacity: 0
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: -10

.popcorn
  position: relative
  width: 100%

.root
  opacity: 1
  position: absolute
  top: 0
  left: 0
  width: 100%
  // transform: translate(0,0px)
  // transition: transform 0.5s ease, opacity 2s ease



/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */
 
header
  @extend %Hell
  a
    color: $black

  .right-link,
  #toggle
    &:hover
      border-bottom: 1px solid

#toggle
  cursor: pointer
  
#transparency
  +tiny
    background-color: rgba(255,255,255,0.9)

.drop-down
  +tiny
    text-align: center

  a
    +tiny
      font-size: 0.7rem

    &:hover

      span
        border-bottom: 1px solid $black


