/*  _theme.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

.doormat
  width: 680px
  height: 604px
  margin: 20vh auto 0

  +tiny
    width: 100%
    height: auto
    overflow: hidden

    img 
      width: 100%

body .content-blocks .slider-block .toggle-opacity
  opacity: 0

  +tiny
    display: inline-block

body header .toggle-opacity
  opacity: 1
  display: block
  z-index: 850

body header .toggle-active
  opacity: 1
  display: block
  z-index: 850

body header #transparency.toggle-opacity
  z-index: 775

  +tiny
    opacity: 1


body header .logo.toggle-opacity
  +tiny
    z-index: 10

.image_2
  transition: transform 0.1s ease

.popcorn
  position: relative
  width: 100%

.root
  opacity: 1
  position: absolute
  top: 0
  left: 0
  width: 100%
  // transform: translate(0,0px)
  // transition: transform 0.5s ease, opacity 2s ease

.root.inject
  transform: translate(200vw, 0px)
  opacity: 0 

body .root.slide
  transform: translate(0,0)
  opacity: 1



/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

.toggle-active
  // border-bottom: 1px solid $black
  span
    border-bottom: 1px solid $black

body
  opacity: 1
  transition: opacity 1.5s ease

.initialize
  opacity: 0

.logo
  img
    transition: transform 0.5s ease
