/* Colors */

$black: #000
$white: #fff


/* Font Face */

@font-face 
	font-family: 'Canela Web'
	src: url('../assets/Canela-LightItalic-Web.eot')
	src: url('../assets/Canela-LightItalic-Web.eot?#iefix') format('embedded-opentype'),
	url('../assets/Canela-LightItalic-Web.woff2') format('woff2'),
	url('../assets/Canela-LightItalic-Web.woff') format('woff')
	font-weight: 300
	font-style: italic
	font-stretch: normal



/* Font Classes */

%Canela-LtIt 
	font-family: 'Canela Web', 'Georgia', serif
	font-weight: 300
	font-style: italic
	font-stretch: normal
  

%Hell-rg
  font-family: 'Helvetica', 'Arial', sans-serif
  font-weight: 400


